.lt-960 body {  min-width: 720px; }
/*
960px grid system ~ Core CSS.
16 Columns ~ Margin left: 10px ~ Margin right: 10px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.02
Learn more ~ http://www.gridsystemgenerator.com/
*/

/* =Containers
--------------------------------------------------------------------------------*/
.container_16 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.lt-960 .container_16 {
  width: 720px;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
  display: inline;
  float: left;
  position:relative;
  margin-left: 10px;
  margin-right: 10px;
}

.lt-960 .grid_1, .lt-960 .grid_2, .lt-960 .grid_3, .lt-960 .grid_4, .lt-960 .grid_5, .lt-960 .grid_6, .lt-960 .grid_7, .lt-960 .grid_8, .lt-960 .grid_9, .lt-960 .grid_10, .lt-960 .grid_11, .lt-960 .grid_12, .lt-960 .grid_13, .lt-960 .grid_14, .lt-960 .grid_15, .lt-960 .grid_16 {
  margin-left: 5px;
  margin-right: 5px;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 16 Columns
--------------------------------------------------------------------------------*/

.container_16 .grid_1 {width: 40px;}
.container_16 .grid_2 {width: 100px;}
.container_16 .grid_3 {width: 160px;}
.container_16 .grid_4 {width: 220px;}
.container_16 .grid_5 {width: 280px;}
.container_16 .grid_6 {width: 340px;}
.container_16 .grid_7 {width: 400px;}
.container_16 .grid_8 {width: 460px;}
.container_16 .grid_9 {width: 520px;}
.container_16 .grid_10 {width: 580px;}
.container_16 .grid_11 {width: 640px;}
.container_16 .grid_12 {width: 700px;}
.container_16 .grid_13 {width: 760px;}
.container_16 .grid_14 {width: 820px;}
.container_16 .grid_15 {width: 880px;}
.container_16 .grid_16 {width: 940px;}

/* =Prefix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container_16 .prefix_1 {padding-left: 60px;}
.container_16 .prefix_2 {padding-left: 120px;}
.container_16 .prefix_3 {padding-left: 180px;}
.container_16 .prefix_4 {padding-left: 240px;}
.container_16 .prefix_5 {padding-left: 300px;}
.container_16 .prefix_6 {padding-left: 360px;}
.container_16 .prefix_7 {padding-left: 420px;}
.container_16 .prefix_8 {padding-left: 480px;}
.container_16 .prefix_9 {padding-left: 540px;}
.container_16 .prefix_10 {padding-left: 600px;}
.container_16 .prefix_11 {padding-left: 660px;}
.container_16 .prefix_12 {padding-left: 720px;}
.container_16 .prefix_13 {padding-left: 780px;}
.container_16 .prefix_14 {padding-left: 840px;}
.container_16 .prefix_15 {padding-left: 900px;}

/* =Suffix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container_16 .suffix_1 {padding-right: 60px;}
.container_16 .suffix_2 {padding-right: 120px;}
.container_16 .suffix_3 {padding-right: 180px;}
.container_16 .suffix_4 {padding-right: 240px;}
.container_16 .suffix_5 {padding-right: 300px;}
.container_16 .suffix_6 {padding-right: 360px;}
.container_16 .suffix_7 {padding-right: 420px;}
.container_16 .suffix_8 {padding-right: 480px;}
.container_16 .suffix_9 {padding-right: 540px;}
.container_16 .suffix_10 {padding-right: 600px;}
.container_16 .suffix_11 {padding-right: 660px;}
.container_16 .suffix_12 {padding-right: 720px;}
.container_16 .suffix_13 {padding-right: 780px;}
.container_16 .suffix_14 {padding-right: 840px;}
.container_16 .suffix_15 {padding-right: 900px;}

/* `Push Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container_16 .push_1 {left: 60px;}
.container_16 .push_2 {left: 120px;}
.container_16 .push_3 {left: 180px;}
.container_16 .push_4 {left: 240px;}
.container_16 .push_5 {left: 300px;}
.container_16 .push_6 {left: 360px;}
.container_16 .push_7 {left: 420px;}
.container_16 .push_8 {left: 480px;}
.container_16 .push_9 {left: 540px;}
.container_16 .push_10 {left: 600px;}
.container_16 .push_11 {left: 660px;}
.container_16 .push_12 {left: 720px;}
.container_16 .push_13 {left: 780px;}
.container_16 .push_14 {left: 840px;}
.container_16 .push_15 {left: 900px;}

/* `Pull Space >> 16 Columns
--------------------------------------------------------------------------------*/
.container_16 .pull_1 {left: -60px;}
.container_16 .pull_2 {left: -120px;}
.container_16 .pull_3 {left: -180px;}
.container_16 .pull_4 {left: -240px;}
.container_16 .pull_5 {left: -300px;}
.container_16 .pull_6 {left: -360px;}
.container_16 .pull_7 {left: -420px;}
.container_16 .pull_8 {left: -480px;}
.container_16 .pull_9 {left: -540px;}
.container_16 .pull_10 {left: -600px;}
.container_16 .pull_11 {left: -660px;}
.container_16 .pull_12 {left: -720px;}
.container_16 .pull_13 {left: -780px;}
.container_16 .pull_14 {left: -840px;}
.container_16 .pull_15 {left: -900px;}


/*********************************************************************************
******* Lower than 768px viewports (headjs is required)***************************
**********************************************************************************/
.lt-960 .container_16 .grid_1 { width:35px; }
.lt-960 .container_16 .grid_2 { width:80px; }
.lt-960 .container_16 .grid_3 { width:125px; }
.lt-960 .container_16 .grid_4 { width:170px; }
.lt-960 .container_16 .grid_5 { width:215px; }
.lt-960 .container_16 .grid_6 { width:260px; }
.lt-960 .container_16 .grid_7 { width:305px; }
.lt-960 .container_16 .grid_8 { width:350px; }
.lt-960 .container_16 .grid_9 { width:395px; }
.lt-960 .container_16 .grid_10 {  width:440px; }
.lt-960 .container_16 .grid_11 {  width:485px; }
.lt-960 .container_16 .grid_12 {  width:530px; }
.lt-960 .container_16 .grid_13 {  width:575px; }
.lt-960 .container_16 .grid_14 {  width:620px; }
.lt-960 .container_16 .grid_15 {  width:665px; }
.lt-960 .container_16 .grid_16 {  width:710px; }


/* Prefix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.lt-960 .container_16 .prefix_1 { padding-left:45px; }
.lt-960 .container_16 .prefix_2 { padding-left:90px; }
.lt-960 .container_16 .prefix_3 { padding-left:135px; }
.lt-960 .container_16 .prefix_4 { padding-left:180px; }
.lt-960 .container_16 .prefix_5 { padding-left:225px; }
.lt-960 .container_16 .prefix_6 { padding-left:270px; }
.lt-960 .container_16 .prefix_7 { padding-left:315px; }
.lt-960 .container_16 .prefix_8 { padding-left:360px; }
.lt-960 .container_16 .prefix_9 { padding-left:405px; }
.lt-960 .container_16 .prefix_10 {  padding-left:450px; }
.lt-960 .container_16 .prefix_11 {  padding-left:495px; }
.lt-960 .container_16 .prefix_12 {  padding-left:540px; }
.lt-960 .container_16 .prefix_13 {  padding-left:585px; }
.lt-960 .container_16 .prefix_14 {  padding-left:630px; }
.lt-960 .container_16 .prefix_15 {  padding-left:675px; }

/* Suffix Extra Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.lt-960 .container_16 .suffix_1 { padding-right:45px; }
.lt-960 .container_16 .suffix_2 { padding-right:90px; }
.lt-960 .container_16 .suffix_3 { padding-right:135px; }
.lt-960 .container_16 .suffix_4 { padding-right:180px; }
.lt-960 .container_16 .suffix_5 { padding-right:225px; }
.lt-960 .container_16 .suffix_6 { padding-right:270px; }
.lt-960 .container_16 .suffix_7 { padding-right:315px; }
.lt-960 .container_16 .suffix_8 { padding-right:360px; }
.lt-960 .container_16 .suffix_9 { padding-right:405px; }
.lt-960 .container_16 .suffix_10 {  padding-right:450px; }
.lt-960 .container_16 .suffix_11 {  padding-right:495px; }
.lt-960 .container_16 .suffix_12 {  padding-right:540px; }
.lt-960 .container_16 .suffix_13 {  padding-right:585px; }
.lt-960 .container_16 .suffix_14 {  padding-right:630px; }
.lt-960 .container_16 .suffix_15 {  padding-right:675px; }

/* Push Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.lt-960 .container_16 .push_1 { left:45px; }
.lt-960 .container_16 .push_2 { left:90px; }
.lt-960 .container_16 .push_3 { left:135px; }
.lt-960 .container_16 .push_4 { left:180px; }
.lt-960 .container_16 .push_5 { left:225px; }
.lt-960 .container_16 .push_6 { left:270px; }
.lt-960 .container_16 .push_7 { left:315px; }
.lt-960 .container_16 .push_8 { left:360px; }
.lt-960 .container_16 .push_9 { left:405px; }
.lt-960 .container_16 .push_10 {  left:450px; }
.lt-960 .container_16 .push_11 {  left:495px; }
.lt-960 .container_16 .push_12 {  left:540px; }
.lt-960 .container_16 .push_13 {  left:585px; }
.lt-960 .container_16 .push_14 {  left:630px; }
.lt-960 .container_16 .push_15 {  left:675px; }

/* Pull Space >> 16 Columns
----------------------------------------------------------------------------------------------------*/

.lt-960 .container_16 .pull_1 { left:-45px; }
.lt-960 .container_16 .pull_2 { left:-90px; }
.lt-960 .container_16 .pull_3 { left:-135px; }
.lt-960 .container_16 .pull_4 { left:-180px; }
.lt-960 .container_16 .pull_5 { left:-225px; }
.lt-960 .container_16 .pull_6 { left:-270px; }
.lt-960 .container_16 .pull_7 { left:-315px; }
.lt-960 .container_16 .pull_8 { left:-360px; }
.lt-960 .container_16 .pull_9 { left:-405px; }
.lt-960 .container_16 .pull_10 {  left:-450px; }
.lt-960 .container_16 .pull_11 {  left:-495px; }
.lt-960 .container_16 .pull_12 {  left:-540px; }
.lt-960 .container_16 .pull_13 {  left:-585px; }
.lt-960 .container_16 .pull_14 {  left:-630px; }
.lt-960 .container_16 .pull_15 {  left:-675px; }
