
/*
960px grid system ~ Core CSS.
16 Columns ~ Margin left: 10px ~ Margin right: 10px

Based on the 960.gs grid system - http://960.gs/
by Nathan Smith

Created by the Grid System Generator - v1.02
Learn more ~ http://www.gridsystemgenerator.com/
*/

.lt-768 body {  min-width: 720px;}

/* =Containers
--------------------------------------------------------------------------------*/
.container_12
{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.lt-768 .container_12 { width: 720px; }

/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
  display: inline;
  float: left;
  position:relative;
  margin-left: 10px;
  margin-right: 10px;
}

.lt-768 .grid_1, .lt-768 .grid_2, .lt-768 .grid_3, .lt-768 .grid_4, .lt-768 .grid_5, .lt-768 .grid_6, .lt-768 .grid_7, .lt-768 .grid_8, .lt-768 .grid_9, .lt-768 .grid_10, .lt-768 .grid_11, .lt-768 .grid_12, .lt-768 .grid_13, .lt-768 .grid_14, .lt-768 .grid_15, .lt-768 .grid_16 {
  margin-left: 5px;
  margin-right: 5px;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}


/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .grid_1 {width: 60px;}
.container_12 .grid_2 {width: 140px;}
.container_12 .grid_3 {width: 220px;}
.container_12 .grid_4 {width: 300px;}
.container_12 .grid_5 {width: 380px;}
.container_12 .grid_6 {width: 460px;}
.container_12 .grid_7 {width: 540px;}
.container_12 .grid_8 {width: 620px;}
.container_12 .grid_9 {width: 700px;}
.container_12 .grid_10 {width: 780px;}
.container_12 .grid_11 {width: 860px;}
.container_12 .grid_12 {width: 940px;}

/* =Prefix >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .prefix_1 {padding-left: 80px;}
.container_12 .prefix_2 {padding-left: 160px;}
.container_12 .prefix_3 {padding-left: 240px;}
.container_12 .prefix_4 {padding-left: 320px;}
.container_12 .prefix_5 {padding-left: 400px;}
.container_12 .prefix_6 {padding-left: 480px;}
.container_12 .prefix_7 {padding-left: 560px;}
.container_12 .prefix_8 {padding-left: 640px;}
.container_12 .prefix_9 {padding-left: 720px;}
.container_12 .prefix_10 {padding-left: 800px;}
.container_12 .prefix_11 {padding-left: 880px;}
.container_12 .prefix_12 {padding-left: 940px;}

/* =Suffix >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .suffix_1 {padding-right: 80px;}
.container_12 .suffix_2 {padding-right: 160px;}
.container_12 .suffix_3 {padding-right: 240px;}
.container_12 .suffix_4 {padding-right: 320px;}
.container_12 .suffix_5 {padding-right: 400px;}
.container_12 .suffix_6 {padding-right: 480px;}
.container_12 .suffix_7 {padding-right: 560px;}
.container_12 .suffix_8 {padding-right: 640px;}
.container_12 .suffix_9 {padding-right: 720px;}
.container_12 .suffix_10 {padding-right: 800px;}
.container_12 .suffix_11 {padding-right: 880px;}
.container_12 .suffix_12 {padding-right: 940px;}

/* =Push >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .push_1 {left: 80px;}
.container_12 .push_2 {left: 160px;}
.container_12 .push_3 {left: 240px;}
.container_12 .push_4 {left: 320px;}
.container_12 .push_5 {left: 400px;}
.container_12 .push_6 {left: 480px;}
.container_12 .push_7 {left: 560px;}
.container_12 .push_8 {left: 640px;}
.container_12 .push_9 {left: 720px;}
.container_12 .push_10 {left: 800px;}
.container_12 .push_11 {left: 880px;}
.container_12 .push_12 {left: 940px;}

/* =Pull >> 12 Columns
--------------------------------------------------------------------------------*/
.container_12 .pull_1 {left: -80px;}
.container_12 .pull_2 {left: -160px;}
.container_12 .pull_3 {left: -240px;}
.container_12 .pull_4 {left: -320px;}
.container_12 .pull_5 {left: -400px;}
.container_12 .pull_6 {left: -480px;}
.container_12 .pull_7 {left: -560px;}
.container_12 .pull_8 {left: -640px;}
.container_12 .pull_9 {left: -720px;}
.container_12 .pull_10 {left: -800px;}
.container_12 .pull_11 {left: -880px;}
.container_12 .pull_12 {left: -940px;}

/*********************************************************************************
******* Lower than 768px viewports (headjs is required)***************************
**********************************************************************************/
.lt-768 .container_12 .grid_1 { width:50px; }
.lt-768 .container_12 .grid_2 { width:110px; }
.lt-768 .container_12 .grid_3 { width:170px; }
.lt-768 .container_12 .grid_4 { width:230px; }
.lt-768 .container_12 .grid_5 { width:290px; }
.lt-768 .container_12 .grid_6 { width:350px; }
.lt-768 .container_12 .grid_7 { width:410px; }
.lt-768 .container_12 .grid_8 { width:470px; }
.lt-768 .container_12 .grid_9 { width:530px; }
.lt-768 .container_12 .grid_10 {  width:590px; }
.lt-768 .container_12 .grid_11 {  width:650px; }
.lt-768 .container_12 .grid_12 {  width:710px; }

/* Prefix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.lt-768 .container_12 .prefix_1 { padding-left:60px; }
.lt-768 .container_12 .prefix_2 { padding-left:120px; }
.lt-768 .container_12 .prefix_3 { padding-left:180px; }
.lt-768 .container_12 .prefix_4 { padding-left:240px; }
.lt-768 .container_12 .prefix_5 { padding-left:300px; }
.lt-768 .container_12 .prefix_6 { padding-left:360px; }
.lt-768 .container_12 .prefix_7 { padding-left:420px; }
.lt-768 .container_12 .prefix_8 { padding-left:480px; }
.lt-768 .container_12 .prefix_9 { padding-left:540px; }
.lt-768 .container_12 .prefix_10 {  padding-left:600px; }
.lt-768 .container_12 .prefix_11 {  padding-left:660px; }

/* Suffix Extra Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.lt-768 .container_12 .suffix_1 { padding-right:60px; }
.lt-768 .container_12 .suffix_2 { padding-right:120px; }
.lt-768 .container_12 .suffix_3 { padding-right:180px; }
.lt-768 .container_12 .suffix_4 { padding-right:240px; }
.lt-768 .container_12 .suffix_5 { padding-right:300px; }
.lt-768 .container_12 .suffix_6 { padding-right:360px; }
.lt-768 .container_12 .suffix_7 { padding-right:420px; }
.lt-768 .container_12 .suffix_8 { padding-right:480px; }
.lt-768 .container_12 .suffix_9 { padding-right:540px; }
.lt-768 .container_12 .suffix_10 {  padding-right:600px; }
.lt-768 .container_12 .suffix_11 {  padding-right:660px; }

/* Push Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.lt-768 .container_12 .push_1 { left:60px; }
.lt-768 .container_12 .push_2 { left:120px; }
.lt-768 .container_12 .push_3 { left:180px; }
.lt-768 .container_12 .push_4 { left:240px; }
.lt-768 .container_12 .push_5 { left:300px; }
.lt-768 .container_12 .push_6 { left:360px; }
.lt-768 .container_12 .push_7 { left:420px; }
.lt-768 .container_12 .push_8 { left:480px; }
.lt-768 .container_12 .push_9 { left:540px; }
.lt-768 .container_12 .push_10 {  left:600px; }
.lt-768 .container_12 .push_11 {  left:660px; }


/* Pull Space >> 12 Columns
----------------------------------------------------------------------------------------------------*/

.lt-768 .container_12 .pull_1 { left:-60px; }
.lt-768 .container_12 .pull_2 { left:-120px; }
.lt-768 .container_12 .pull_3 { left:-180px; }
.lt-768 .container_12 .pull_4 { left:-240px; }
.lt-768 .container_12 .pull_5 { left:-300px; }
.lt-768 .container_12 .pull_6 { left:-360px; }
.lt-768 .container_12 .pull_7 { left:-420px; }
.lt-768 .container_12 .pull_8 { left:-480px; }
.lt-768 .container_12 .pull_9 { left:-540px; }
.lt-768 .container_12 .pull_10 {  left:-600px; }
.lt-768 .container_12 .pull_11 {  left:-660px; }


