
/* ----------------------------------------------
HTML ELEMENTS
------------------------------------------------- */

body{
  margin:0;
  padding:0;
  background:#fff;
  color:#000;
  font:normal 100%/150% arial, verdana, sans-serif;
}
.inner-page{
  position:relative;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Tahoma, Arial, sans-serif;
  line-height:100%;
}

h1 {
  font-size: 1.8em;
}
h1#page-title{
  padding:.3em 0;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
  padding:.3em 0;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

p{
  margin:0 0 1.2em;
}

#breadcrumbs{
  font-size:.8em;
}

/**********  Node Forms Styles **********/
.node-form label,
.node-form input.form-text{
  display:inline;
  width:auto;
}
/**********  Node Components **********/
.teaser{
  margin-top:1.5em;
}
.post-info .submitted{
  font-size:.9em;
  color:#888;
}
.post-links{
  font-size:.9em;
}
/**********  Pager Style **********/
ul.pager,
.item-list ul.pager{
  margin:.75em 0;
}

ul.pager li,
.item-list ul.pager li{
  font-size:.9em;
  margin:0;
  padding:0;
}
ul.pager li a,
.item-list ul.pager li a{
  padding:.5em;
  border:1px #ccc solid;
  color:#0044AF;
}
ul.pager li a:hover,
.item-list ul.pager li a:hover{
  border-color:#888;
}
ul.pager li.pager-current {
padding:.3em;
font-size:1.1em;
font-weight:normal;
}
/**********  Local Task List Styles **********/
ul.primary{
  padding:2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin:5px 0;
}
ul.primary li a,
ul.primary li a:hover,
ul.primary li a.active{
  background:none;
  border:none;
  margin:0;
  line-height:1.5em;
}

#tabs-wrapper{
  position:relative;
}
.logged-in h1.with-tabs{
  margin-right:35px !important;
}
.logged-in .hidden-menu{
  position:absolute;
  top:0;
  right:0;
  z-index:2;
  width:25px;
  height:25px;
  -moz-border-radius:3px;
  background:#333 url(../images/gear-bg.png) 3px 3px no-repeat;  
}
.logged-in #tabs-wrapper .hidden-menu ul{
  display:none;
  border:none;
}
.logged-in #tabs-wrapper .show-tabs{
  height:auto;
  width:auto;
}
.logged-in #tabs-wrapper .show-tabs ul{
  display:block;
  padding:3px;
  margin-top:25px; 
}
.logged-in .show-tabs ul li,
.logged-in .show-tabs ul li a,
.logged-in .show-tabs ul li a:hover{
  display:block;
  margin-bottom:1px;
  background-color:#666;
  color:#fff;
}
.logged-in .show-tabs ul li a.active,
.logged-in .show-tabs ul li a:hover{
  background-color:#8e8e8e;
}

/**********  Links Styles **********/
a:visited {
color:#0063FF;
text-decoration: none;
}
a:link {
  color:#0044AF;
  text-decoration: none;
}
a:hover {
  color: #00378F;
}
a:active, a.active {
  color: #5895be;
}
/**********  HEADER Style **********/
#header{
 padding-top:60px;/* This margin should be the same height as the main navigation if it is below the header.*/
}
.header-region * {
  display:inline;
}
/***  Theme Search box Style  ***/
#search-theme-form{
  position:absolute;
  top:0;  
  right:0;
  z-index:10;
  -moz-border-radius: 0 0 3px 3px;  
  padding:0 .5em;
  background-color:#ccc;
}
#search-theme-form label{
  display:none;
}
#header #search-theme-form input{
  width:190px;
}
#header #search-theme-form .form-submit{
  -moz-border-radius:5px;  
  margin:0;
  padding:0 .5em;
  font-weight:bold;
  font-size:.9em;
}
/**********  Main Navigation Style **********/
#main-navigation-wrapper{
  position:absolute;
  top:0px;/*adjust this height to control the main navigations postion above the header*/
  padding-top:.5em;
  padding-bottom:.5em;
}
.liquid-layout #main-navigation{
  width:92%;
  margin: 0 4%;
}

.primary-links ul.links li{
  padding:0;
  margin:0;
}
.primary-links ul.links li a{
  color:#fff;
  font-weight:bold;
  text-shadow: #333 1px 1px 0;
  padding:.5em 1em;
  background:#ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
}
.primary-links ul.links li a:hover{
  color:#333;
}
/**********  Container Content Style **********/
#container-content{}
#breadcrumbs{
  clear:both;
}
/** Messages ***********************************/
div.messages{
  position:absolute;
  top:50px;
  right:50px;
  padding:5px;
  z-index:10;
  -moz-border-radius:5px; 
  -moz-box-shadow:0 0 10px #666666;
  width:400px;
  background-color:#fff;
  border:5px #5af018 solid;  
}
div.messages .inner-message{
  position:relative;
  padding:.5em 1em;
  border:1px #fff solid;
}
div.messages .close{
  font-style:bold;
  display:block;
  -moz-border-radius:3px; 
  cursor:pointer;
  width:25px;
  color:#000;
  background-color:#e6e6e6;
  background: url(../images/close-button.png) 0 0 no-repeat; 
  text-indent:-9999px; 
  position:absolute;
  top:0;
  right:0;
}
div.error{
  background:#fff;
  border-color:#f02518;
}
div.warning{
  border-color:#f9ec38;
}
div.messages .hover{
  background-color:#f1f1f1;
}
/**********  Sidebars Styles **********/
#first-sidebar,
#second-sidebar{
  font-size:.9em;
}
#first-sidebar .block,
#second-sidebar.block{
  margin-bottom:20px;
  margin-top:10px;
}
#first-sidebar .block h3.title,
#second-sidebar .block h3.title{
  color:#999;
  border-bottom:2px #ccc solid;
}
#first-sidebar .block ul.menu,
#second-sidebar .block ul.menu{
  padding:0;
}
#first-sidebar .block ul.menu li,
#second-sidebar .block ul.menu li{
  margin:0 0 0 1em;
}
/**********  Hide/Show Regions Style **********/
.region-switch{
  font-size:.9em;
  color:#999;
  cursor:pointer;
  z-index:5;
  background:#f1f1f1;
  padding:.2em;
}
/**********  Back to Top Button Style **********/
.scroll-to-top{
  position:fixed;
  bottom:0;
  right:0;
  padding-right:20px;
  background:#fff url(../images/top-arrow.png) right 2px no-repeat;
  float:right;
  opacity:.5;
}
/**********  Container Content Bottom Style **********/
#footer{
  margin-top:20px;
}
.content-bottom-wrapper{
  overflow:hidden;
  clear:both;
}
#container-content-bottom{
  clear:both;
}
/**********  Footer Style **********/
#footer .block {
  font-size:.8em;
}
div.footer-message {
font-size:.9em;
color:#444;
}
/**********  Tables Styles **********/

table {
  margin: 1em 0;
  width: 100%;
  border-collapse:collapse;
  border-color:#E1E1E1;
  border-style:solid solid none;
  border-width:1px 1px medium; 
  font-size:.8em; 
}

thead th {
  border-bottom: 2px solid #fff;
  font-weight: bold;
  background:#3D3D3D;
  color:#FFFFFF;
  padding:.5em 1em;  
}
thead th.active{
  background:#608138;
}

th a:link, th a:visited {
  color: #6f9dbd;
}
thead th.active a{
  color:#fff;
}
td, th {
  padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
  border: solid #d3e7f4;
  border-width: 1px 0;
}

tr.odd, tr.info {
  background-color: #ededed;
}

tr.even {
  background-color: #fff;
}

tr.odd td.active {
  background-color:#ededed;
}

tr.even td.active {
  background-color: #fff;
}

td.region, td.module, td.container, td.category {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category {
  border-top-width: 0;
}

/**********  Form Styles **********/
fieldset{
  border:1px #ddd solid;
  padding:.5em;
}
input {
  font: 12px/100% Verdana, sans-serif;
  color: #494949;
}

textarea, select {
  font: 12px/160% Verdana, sans-serif;
  color: #494949;
}

span.submitted, .description {
  font-size: 0.92em;
  color: #888;
}

.form-button, .form-submit {
  margin: 2em 0.5em 1em 0; /* LTR */
  font-size: 1.2em;
}

.buttons-wrapper{
  position:fixed;
  bottom:0;
  z-index:100;
}

#system-modules .form-submit {
  position:fixed;
  bottom:0;
  z-index:100;
}


/**********  Header Region **********/
h1.site-name{
  margin:1em 0;
  display:inline;
}
div.site-slogan {
font-style:italic;
}
#mission {
font-size:1.1em;
padding:1em;
}
.header-region .block  *{
  display:inline;
}
.header-region .block h3.title{
  display:none;
}
.header-region .block ul.menu{
  padding:0 1em .25em 0;
}
/**********  Tray Region Styles **********/
#tray-wrapper{
  height:25px;
  background:#E5E5E5;
  padding-top:1px;
  position:fixed;
  bottom:0;
  left:47px;
  width:100%; 
  font-size:11px; 
  display:none;
}
#tray-wrapper .block{
  float:left;
  margin:0 1px 0 0;
}
#tray-wrapper h3.title{
  padding:.2em .5em;
  cursor:pointer;  
}
#tray-wrapper .tray-block-active{
  color:#fff;
  background:#333;
}
#tray-wrapper .block .content{
    display:none;
    position:fixed;
    bottom:26px;
    background:#FFFFFF;
    border:3px solid #333;
    border-bottom-width:1px;
    z-index:1000;
    font-size:11px;
    width:250px; 
    padding:.5em; 
}
.tray-close{
  position:fixed;
  bottom:0;
  left:0;
  background:#999;
  color:#333;
  width:40px;
  padding:0 3px;
  cursor:pointer;
}
/**********  Comments Styles **********/
#comments{
  margin:1.5em 0 0;
  padding:0 0 0 1em; 
}
.comment,
.comment .submitted,
.comment ul.links{
  font-size:.9em;
}
.comment .submitted{
  color:#888;
}
/**********  tiny Styles **********/
.align-right{
  float:right;
}
.align-left{
  float:left;
}
/**********  Suggested Styles **********/
.emac ul.links li{
  padding:0;
  margin:0;
}
.emac ul.links li a{
  color:#fff;
  font-weight:bold;
  text-shadow: #e00 1px 1px 0;
  padding:.5em 1em;
  background:#333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;  
}
.emacs ul.links li a:hover{
  color:#333;
}

.simpleTabs .primary-links ul.links,
.simpleTabs ul.tabs{
  border-bottom:1px #000 solid;
  padding-left:2px;
  background:none;
}
.simpleTabs ul.tabs li a,
.simpleTabs .primary-links ul.links li a{
  border:1px #000 solid;
  padding:.5em 1em 2px;
  background:none;
  color:#4fb2d3;
  text-shadow:none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; 
}
.simpleTabs ul.tabs li a{
  padding-bottom:3px;
}
.simpleTabs ul.tabs li a.active,
.simpleTabs .primary-links ul.links li a.active{
  border-bottom:1px #fff solid;
}


