/* this is related more to aesthetics of opengrid
 * use this for background images and bg colors, borders etc.
 * /

/******Color Codes*****
 * Greyscale
 * #292929 - darkest
 * #3e3e3e
 * #646464
 * #a8a8a8
 * #e7e7e7
 * #efefef - lightest
**********************/

body {
  background:#fff;
}

.block {
  padding:3px;
  margin:1px;
}
.block .content {
  overflow:hidden;
}

.node p img,
.teaser img,
.block .content img {
  margin:0.5em;
  max-width: 99%;
  padding:0.3em;
}

.no-sidebars .node p img {
  max-width:1024px;
}

.teaser {
  border-bottom: 1px dashed #e7e7e7;
}

.node .content blockquote {
  border-left: 3px solid #e7e7e7;
  padding-left:0.5em;
  margin:1em 1em 1em 2em;
}

.terms a:link, .terms a:visited {
  background-color: #E8E8E8;
  display: inline-block;
  margin:0.3em 0.5em 0.3em 0;
  padding: 0.3em 0.5em;
  text-decoration: none;
  /*css3*/
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
}
  .terms a:hover {
    background-color:#e7e7e7;
    }
  .terms li a:active {
    border-top:1px solid #e7e7e7;
  }

/*********Form customizations ********/

.buttons-wrapper {
  background: none repeat scroll 0 0 #e7e7e7;
  /*CSS3*/
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -moz-box-shadow: 1px 1px 3px 2px #555;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-box-shadow: 1px 1px 3px 2px #555;
}
  .buttons-wrapper input.form-submit {
    background-color: #3e3e3e;
    border-style: none none solid;
    border-width: medium medium 1px;
    border-color: -moz-use-text-color -moz-use-text-color rgba(0, 0, 0, 0.25);
    color:#fff;
    font-weight:bold;
    padding: 5px 15px 6px;
    position: relative;
    width: auto;
    /*CSS3*/
    border-radius: 5px 5px 0 0;
    box-shadow:0 0 4px #000;
    -moz-border-radius: 5px 5px 0 0;
    -moz-box-shadow: 0 0 4px #000;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-box-shadow: 0 0 4px #000;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  }
  .buttons-wrapper input.form-submit:hover {
    background-color: #646464;
    cursor:pointer;
  }
  .buttons-wrapper input.form-submit:active {
    background-color: #999;
    text-shadow:none;
  }


/******Comments**************/

.comment {
  padding-left:1em;
}
  .comment .submitted {
  margin-bottom: 0.4em;
  }
  .comment ul.links {
    margin-bottom: 1.5em;
  }

#comments {
  border-top:1px dashed #e7e7e7;
}
  #comments div.picture img {
    border: 1px solid #e7e7e7;
  }

/****** Pager **************/

ul.pager li a,
.item-list ul.pager li a {
  border:1px #e7e7e7 solid;
}
  ul.pager li a:hover,
  .item-list ul.pager li a:hover {
    border-color:#888;
  }

/**********Home Page*****************/

#mission {
  border: 1px dashed #e7e7e7;
  padding: 0.5em;
  margin-top:40px;
  /*CSS3*/
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius:4px;
}

/*********   Primary Menu Links ***************/

.primary-links ul.links li {
  display: inline-block;
  float:left;
  margin-right:3px;
  padding-bottom: 5px;
}
  .primary-links ul.links li a {
    background: #646464;
    display: inline-block;
    padding: 0.5em 1em 0.5em;
    position: relative;
    top: 0px;
  }
  .primary-links ul.links li.active-trail a,
  .primary-links ul.links li a:hover {
    background: #3e3e3e;
  }
  .primary-links ul.links li a.active {
    border-top:1px solid #646464;
    background: #3e3e3e;
    cursor:default;
  }

/*********   Secondary Menu Links ***************/

.secondary-links {}
  .secondary-links ul.links {
    clear:both;
}
  .secondary-links ul.links li {
    display:inline-block;
    float:left;
    margin-right:1px;
    padding:0;
  }
  .secondary-links ul.links li.last {
    margin-right:0;
  }
  .secondary-links ul.links li a,
  .secondary-links ul.links li a:hover {
    background-color: #646464;
    display:inline-block;
    padding:.5em 1em;
  }
  .secondary-links ul.links li a.active,
  .secondary-links ul.links li a:hover,
  .primary-links ul li.active-trail {
    background: #292929;
  }
  primary-links ul li.active-trail:hover {
    background: #292929;
  }

/***** logged out user tabs ********/
ul.tabs  li,
.not-logged-in ul.tabs  li {
  background: #e7e7e7;
  padding: 0.4em 1em 0.25em 1em;
  -moz-border-radius: 3px 3px 0 0; /* FF1+ */
  -webkit-border-radius: 3px 3px 0 0; /* Saf3-4, iOS 1+, Android 1.5+ */
  border-radius: 3px 3px 0 0; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
}
  .not-logged-in ul.tabs  li {
    float:left;
    font-size:1.2em;
  }
  ul.tabs  li.active,
  .not-logged-in ul.tabs  li.active {
    background-color:#fff;
    border:1px solid #a8a8a8;
    border-bottom: 0;
  }

/**********  Tray Region **********/

#tray-wrapper {
  background:#E5E5E5;
}
  #tray-wrapper .tray-block-active {
    background:#333;
  }
  #tray-wrapper .block .content {
    background:#FFF;
    border:3px solid #333;
    border-bottom-width:1px;
  }
  .tray-close {
    background:#999;
    color:#333;
  }

/********* Tables ************/

table {
  border-color:#E1E1E1;
  border-style:solid solid none;
  border-width:1px 1px medium;
}
.page-sitemap table {
  border: none;
}
  thead th {
    border-bottom: 2px solid #fff;
    background:#3D3D3D;
    padding:.5em 1em;
  }
  thead th.active {
    background:#608138;
  }
  thead th.active a {
    color:#fff;
  }
  tr.even, tr.odd, tbody th {
    border: solid #d3e7f4;
    border-width: 1px 0;
  }
  tr.odd, tr.info {
    background-color: #ededed;
  }
  tr.even {
    background-color: #fff;
  }
  tr.odd td.active {
    background-color:#ededed;
  }
  tr.even td.active {
    background-color: #fff;
  }
  td.region,
  td.module,
  td.container,
  td.category {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
  }
  tr:first-child td.region,
  tr:first-child td.module,
  tr:first-child td.container,
  tr:first-child td.category {
    border-top-width: 0;
  }

/** Messages *******/

#better-messages-default div.messages {
  /*CSS 3*/
  border-radius: 0;
  -moz-border-radius:0;
  -webkit-border-radius: 0;
  -moz-box-shadow:none;
}
  div.messages {
    padding:5px;
  }
  div.status {
    background: #cec;
  }
  div.messages-wrapper div.messages {
    background-color:#fff;
    border:5px #5af018 solid;
    /*CSS 3*/
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow:0 0 10px #646464;
  }
  div.messages-wrapper div.messages .inner-message {
    border:1px #fff solid;
  }
  div.messages-wrapper div.messages .close {
    cursor:pointer;
    color:#000;
    display:inline-block;
    font-weight:bold;
    position:absolute;
    right:0;/* LTR */
    top:0;
    text-indent:-9999px;
    /*CSS3*/
    border-radius: 3px;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
  }
  div.messages-wrapper div.messages .hover {
    background-color:#f1f1f1;
  }
  div.messages-wrapper div.error {
    background:#fff;
    border-color:#f02518;
  }
  div.messages-wrapper div.warning {
    border-color:#f9ec38;
  }

/* set default cursor on active links to make it less "clickable" :p */

a.active {
  cursor:default;
}
