/******************************************************
 *********** OpenG backgrounds ************************
 ******************************************************/

.scroll-to-top a,
div.messages-wrapper div.messages .close {
  background:#e6e6e6 url(/sites/all/themes/opengrid/images/openg-sprite-bg.png) 0 0 no-repeat;
}
div.messages-wrapper div.messages .close {
  height:27px;
  width:27px;
}
.scroll-to-top a {
  background-color: transparent;
  background-position: right -60px;
  opacity:.5;
  padding: 5px 30px 5px 0;
}

/* Superfish */

.superfish .primary-links ul li {
  background-color:#444;
  border-right:1px solid #fff;
}
.superfish .primary-links ul li li {
  background-color:   #444;
}
.superfish .primary-links ul li li li {
  background-color:   #444;
  border-left: 1px solid #fff;
}
.superfish .primary-links ul li:hover, .superfish .primary-links ul li.sfHover,
.superfish .primary-links ul a:focus, .superfish .primary-links ul a:hover, .superfish .primary-links ul a:active {
  background-color:   #444;
  outline:    0;
  color:#ccc;
}

/*** arrows **/

a > .sf-sub-indicator {  /* give all except IE6 the correct values */
  top:      .8em;
  background-position: 0 -100px; /* use translucent arrow for modern browsers*/
  }
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px; /* arrow hovers for modern browsers*/
  }

/* point right for anchors in subs */
.superfish .primary-links ul ul .sf-sub-indicator { background-position:  -10px 0; }
.superfish .primary-links ul ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.superfish .primary-links ul ul a:focus > .sf-sub-indicator,
.superfish .primary-links ul ul a:hover > .sf-sub-indicator,
.superfish .primary-links ul ul a:active > .sf-sub-indicator,
.superfish .primary-links ul ul li:hover > a > .sf-sub-indicator,
.superfish .primary-links ul ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0; /* arrow hovers for modern browsers*/
  }

/** Drupal default bg for arrows **/

.superfish ul.menu li.expanded > a {
  background:#444 url(/sites/all/themes/opengrid/images/sf-arrows-fff.png) no-repeat scroll -6px -88px;
}
.superfish ul.menu ul.menu li.expanded > a {
  background-position: -6px 1em;
}
.superfish .primary-links ul.menu li.expanded a.active,
.superfish .primary-links ul.menu li.expanded a:hover {
  background-color: transparent;
}

/** sf-style colors **/

.superfish .primary-links ul li {
  background-color:#444;
  border-right:1px solid #fff;
}
.superfish .primary-links ul li li {
  background-color:   #444;
}
.superfish .primary-links ul li li li {
  background-color:   #444;
  border-left: 1px solid #fff;
}
.superfish .primary-links ul li:hover, .superfish .primary-links ul li.sfHover,
.superfish .primary-links ul a:focus, .superfish .primary-links ul a:hover, .superfish .primary-links ul a:active {
  background-color:   #5a5a5a;
}

.superfish ul.menu li.expanded > a {
  background:url(/sites/all/themes/opengrid/images/sf-arrows-fff.png) no-repeat scroll -6px -60px;
}
  .superfish ul.menu li.expanded > a:hover,
  .superfish ul.menu li.expanded > a:active {
    background-position: -6px -88px;
  }
  .superfish ul.menu li.active-trail > a:hover,
  .superfish ul.menu li.active-trail > a {
    background-position: -6px -88px;
  }
.superfish ul.menu ul.menu li.expanded > a {
  background-position: -6px -19px;
}
  .superfish ul.menu ul.menu li.expanded > a:hover,
  .superfish ul.menu ul.menu li.expanded > a:active {
    background-position: -6px -19px;
  }

.superfish .primary-links ul.menu li.expanded a.active,
.superfish .primary-links ul.menu li.expanded a:hover {
  background-color: #292929;
}

/*** shadows for all but IE6 ***/

.superfish .sf-shadow ul {
  xbackground:url(/sites/all/themes/opengrid/images/sf-shadow.png) no-repeat scroll right bottom transparent;
  background:none;

  /* Background image replaced by css shadow */
  -moz-box-shadow: 2px 2px 4px #333; /* FF3.5+ */
  -webkit-box-shadow: 2px 2px 4px #333; /* Saf3.0+, Chrome */
  box-shadow: 2px 2px 4px #333; /* Opera 10.5, IE9, Chrome 10+ */
}
.sf-shadow ul.sf-shadow-off {
  background: transparent;
}
