/**************************************************
 *  HTML & DRUPAL CORE ELEMENTS
 *************************************************/

p {
  margin:0 0 1em;
  }

abbr {
  border-bottom: 1px #ccc dotted;
}
/**********  Lists **********/

ol,ul {
  padding:0 0 0.5em 2em;/* LTR */
  }
  ul,
  .block ul {
    list-style-type: disc;
    }
  ol {
    list-style-type: decimal;
    }
  #main ol li,
  #main ul li {
    padding:0 0 .2em .5em;/* LTR */
    }


/**********  Tables ********/

table {
  border-collapse:collapse;
  margin: 1em 0;
  width: 100%;
  }
  thead th {
    padding:.5em 1em;
    }
  td, th {
    padding: 0;
    }


/**********  Pagers **********/

ul.pager li,
.item-list ul.pager li {
  margin:0;
  padding:0;
  }
  ul.pager li a,
  .item-list ul.pager li a {
    padding:.5em;
    }
  ul.pager li.pager-current {
    padding:.3em;
    }

/*******************************************
 * START #header-wrapper
 * *****************************************/

/****primary menu links ********/

ul.primary {
  padding:2px;
  margin:5px 0;
  }
  ul.primary li a,
  ul.primary li a:hover,
  ul.primary li.active a,
  ul.primary li a.active {
    border:none;
    line-height:1.5em;
    margin:0;
    }
  ul.primary li a.active {
    line-height:1.5em;
    margin-top:2px;
    }

#main ul.secondary li {
  background:none;
  border-top:none;
  padding-right: 0.5em;
}

#header .block ul.menu {
  padding:0 1em .25em 0;/* LTR */
  }

/*******************************************
 * END #header-wrapper
 * *****************************************/


/*******************************************
 * START #content-top-wrapper
 * *****************************************/

/*******************************************
 * END #content-top-wrapper
 * *****************************************/


/*******************************************
 * START #content-wrapper
 * *****************************************/

/** START#content-prefix *******/

/** END#content-prefix *********/

div.pager {
  margin-top:1em;
  margin-bottom: 0.5em;
  }

div.node .content {
  margin:1.5em 0 0 0.5em;
  }

/** START #content-suffix region *****/

/** END #content-suffix region ********/

/** START #sidebar-first/second **************/

#sidebar-first .block ul li,
#sidebar-second .block ul li {
  margin: 0 0 0.5em 0.3em;
  }

/** END #sidebar-first/second **************/

/*******************************************
 *  END #content-wrapper
 * *****************************************/

/*******************************************
 *  END #main-navigation-wrapper
 * *****************************************/


/*******************************************
 *  START #content-bottom-wrapper
 * *****************************************/

/*******************************************
 *  END #content-bottom-wrapper
 * *****************************************/


/*******************************************
 *  START #footer-wrapper
 * *****************************************/

#footer .menu ul {
  text-align:center;
  }
  #footer .menu li {
    display:inline-block;
    list-style:none;
    *display:inline;/*IE fix*/
    }

#footer .block ul {
  text-align:center;
  }
  #footer .block li {
    display:inline-block;
    list-style:none;
    }

/*******************************************
 *  END #footer-wrapper
 * *****************************************/


/***************************************************
* Opengrid specific theme utilities and presets
****************************************************/

/** Messages Style *******/

.inner-message h2 {
  cursor:move;
  font-size: 1.5em;
}


/**  Hide/Show Regions Style **********/

.region-switch {
  background:#f1f1f1;
  color:#999;
  cursor:pointer;
  font-size:1.2em;
  }

/***********************************************
 *  Drupal 7 Backported Styles
************************************************/
/**
* Hide elements from all users.
*
* Used for elements which should not be immediately displayed to any user. An
* example would be a collapsible fieldset that will be expanded with a click
* from a user. The effect of this class can be toggled with the jQuery show()
* and hide() functions.
*/

.element-hidden {
  display: none;
  }

/**
* Hide elements visually, but keep them available for screen-readers.
*
* Used for information required for screen-reader users to understand and use
* the site where visual display is undesirable. Information provided in this
* manner should be kept concise, to avoid unnecessary burden on the user.
* "!important" is used to prevent unintentional overrides.
*/

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  }

/**
* The .element-focusable class extends the .element-invisible class to allow
* the element to be focusable when navigated to via the keyboard.
*/

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  }

/******* Skip Link ********/

#skip-link {
  margin-top: 0;
  position: absolute;
  left: 50%;
  margin-left: -5.25em;
  width: auto;
  z-index: 50;
  }
  #skip-link a,
  #skip-link a:link,
  #skip-link a:visited {
    background: #444;
    color: #fff;
    display: block;
    font-size: 0.94em;
    padding: 1px 10px 2px 10px;
    text-decoration: none;
    /*CSS3*/
    border-radius:0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    }
  #skip-link a:hover,
  #skip-link a:focus,
  #skip-link a:active {
    outline: 0;
    }


/*** Fixed form buttons ****/

.buttons-wrapper {
  bottom:0;
  padding: 5px 5px 0;
  position:fixed;
  z-index:999; /*set this lower than tinymce fullscreen(missing content bug #1808)*/
  }
  .buttons-wrapper .save-buttons {
    float:left;
    }
  .buttons-wrapper .delete-buttons {
    float:right;
    margin-left:100px;
    }

/* Browse buttons Style */
.filefield-upload {
  min-width: 400px;
}
div.file-wrapper {
  float:left;
  min-width: 280px;
  width:auto;
  }

.filefield-element {
    margin: 0.4em 0;
  }
  .filefield-upload input.form-submit {
    float:left;
    margin-left:20px;
  }
div.fakefile {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  }

div.fakefile input {
  display:inline-block;
  float:left;
  }
div.fakefile  .browse-button {
  background:#ddd;
  border:1px #ccc solid;
  margin-left:.5em;
  padding:.2em;

  /*CSS3*/
  -moz-border-radius: 3px; /* FF1+ */
  -webkit-border-radius: 3px; /* Saf3-4, iOS 1+, Android 1.5+ */
  border-radius: 3px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
  }
div.fakefile .button-hover {
  background:#eee;
  border-color:#999;
}

input.hidden {
  position: relative;
  text-align: right;
  z-index: 2;
  -moz-opacity:0 ;
  filter:alpha(opacity: 0);
  opacity: 0;
  }
