/****
 * This file contains module and feature specific styles as well as the
 * hiding of local tasks behind the gear icon and other non-essential
 * ui goodness
 *
 ******Color Codes*****
 * Greyscale
 * #292929 - darkest
 * #3e3e3e
 * #646464
 * #a8a8a8
 * #e7e7e7
 * #efefef
 * #F7F7F7 - lightest
**********************/

/** START .hidden-menu local tasks ***********
 * Drupal default tabs are hidden behind an icon for a cleaner UI.
 * ****/
  .logged-in #tabs-wrapper {
    position:absolute;
    right:0;
    top:0;
  }

/* Tabs Style for anonymous visitors */
.not-logged-in #tabs-wrapper {
  position:absolute;
  top:0;
  }
  .with-tabs .content-output {
    padding-top:30px;
    }


/** END .hidden-menu local tasks ******/

ul.primary {
  /*CSS3*/
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  }
  ul.primary li a,
  ul.primary li a:hover,
  ul.primary li a.active {
    background:none;
    border:none;
    }

/****************************************
**  Comments
***************************************/

div.indented { /*threaded comments*/
  border-bottom: 1px dashed #E7E7E7;
  border-left: 1px dashed #E7E7E7;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  margin-right: 1em;
  padding-left: 1em;
  }


/********************************************************************
**   Vertical tabs override Styles
********************************************************************/

div.vertical-tabs,
div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  background:#fff;
  }
  div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
    position:relative;
    padding:10px;
    z-index:2;
    /*CSS3*/
    -moz-box-shadow: -2px 0 2px #ccc;
    -webkit-box-shadow: -2px 0 2px #ccc;
    box-shadow: -2px 0 2px #ccc;
    }
  div.vertical-tabs ul.vertical-tabs-list li.selected {
    position:relative;
    z-index:3;
    /*CSS3*/
    -moz-box-shadow: -1px 1px 5px #ccc;
    -webkit-box-shadow: -1px 1px 5px #ccc;
    box-shadow: -1px 1px 5px #ccc;
    }
  fieldset.vertical-tabs-pane input.form-text {
    width:99%;
    }

/*Module Overrides*/

#admin-menu {
  font-size:14px;
  }

/***** smaller and less obstrusive devel output ******/

.dev-timer {
  color:#3e3e3e;
  font-size: 1.2em;
  margin:150px 0 3px 5px;
  }
  .dev-memory-usage {
    color:#3e3e3e;
    font-size: 1.2em;
    padding:0;
    }
  .dev-memory-usage h3 {
    float:left;
    font-size: 1.1em;
    margin: 2px 5px 0;
    padding: 0;
    }

/***** cck filefield font size ******/

.field-type-filefield {
  font-size:1.4em;
  margin:1em 0;
  }
  .field-type-filefield .field-label {
  font-size:1.1em;
  margin:0.5em 0;
  }

/********************************************************************
*******************   Views Admin Style
********************************************************************/

.views-tabset .views-tabs ul {
  margin-bottom:1em;
  }
  .views-tabset .views-tabs ul li {
    clear:both;
    float:none;
    }
  .views-tabset .views-tabs ul li a {
    background:none;
    float:none;
    }

div.extra .form-submit {
  margin:1em auto;
  }

/***Theming visual guides **********/

.og-guides-bg .block {
  background:url(/sites/all/themes/opengrid/images/block-bg.png) bottom right no-repeat;
  }
  .og-guides-bg td.block {
    background-image: none;
    }
  .og-guides-borders .block {
    border:1px dashed #efefef;
    }
  .og-guides-borders td.block {
    border:none;
    }
  .og-guides-bg #header {
    background:url(/sites/all/themes/opengrid/images/header.png) center right no-repeat;
    }
  .og-guides-bg #content-top {
    background: transparent url(/sites/all/themes/opengrid/images/content-top.png) top right no-repeat;
    }
  .og-guides-borders .content-output {
    border-left:1px dashed #e7e7e7;
    border-right:1px dashed #e7e7e7;
    }
  .og-guides-borders #breadcrumbs {
    border-bottom: 1px dashed #e7e7e7;
    }
  .og-guides-bg #content-bottom {
    background: transparent url(/sites/all/themes/opengrid/images/content-bottom.png) top right no-repeat;
    }
  .og-guides-bg #content-suffix {
    background: transparent url(/sites/all/themes/opengrid/images/content-suffix.png) top right no-repeat;
    }
  .og-guides-bg #content-prefix {
    background: transparent url(/sites/all/themes/opengrid/images/content-prefix.png) top right no-repeat;
    }
  .og-guides-bg #sidebar-first {
    background:url(/sites/all/themes/opengrid/images/sidebar-first.png) bottom center no-repeat #F8FFFF;
    }
  .og-guides-bg #sidebar-second {
    background:url(/sites/all/themes/opengrid/images/sidebar-second.png) bottom center no-repeat;
    }
  .og-guides-bg #footer {
    background:url(/sites/all/themes/opengrid/images/footer.png) bottom center no-repeat;
    }

.og-guides-borders #footer,
.og-guides-borders div.footer-message {
    border-top: 1px dashed #e7e7e7;
  }
  .og-guides-borders #content-top,
  .og-guides-borders #content-bottom,
  .og-guides-borders #content-suffix,
  .og-guides-borders #content-prefix {
    background-color: #F7F7F7;
  }

/******* Utlitiy Classes************/

.fl {
  float:left;
}
.fr {
  float:right;
}
.cl {
  clear:left;
}
.cr {
  clear:right;
}
