/**********  Form defaults **********/

.invisible {
  display:none;
  }

fieldset {
  border:1px #ddd solid;
  margin:7px 2px;
  padding:.5em;
  }
  label {
    margin-bottom:.5em;
    }

dl.multiselect dd.a,
dl.multiselect dd.a .form-item {
  width: 14em;
  }
  dl.multiselect .form-item {
    height: 3em;
    margin: 0;
    }

#edit-keys-wrapper,
.content-output #search-form input#edit-submit  {
  float: left;
}
#edit-keys-wrapper {
  margin-top:.5em;
}
.search-advanced {
  clear:both;
}

/* override system.css to provide some space for mouseover descriptions */
.form-item .label-wrapper {
  position: relative;
  }
  .form-item label {
  padding-right: 5px;
  }
#comment-form #edit-mail-wrapper {
  margin-top: 5px;
  width: 265px;
}
  #comment-form #edit-mail-wrapper .label-wrapper {
    display:block !important;
    float: right;
  }
#contact-mail-page #edit-captcha-response.labelify,
#comment-form #edit-captcha-response.labelify {
  width: 10em;
}
/*comment form subject field is too big. But better to kill the form field! Nobody wants
 * another form field to complete...meanwhile */
#edit-subject,
#edit-mail,
#edit-name {
  width:auto;
  }

/* override node.css line 15 */
#node-admin-buttons {
  clear: right;
  float: left;
  margin-left: 3em;
  }

/* Node Preview Style */
.content-output .preview {
  margin-top:20px;
  overflow: hidden;
  padding:.5em;

  /* CSS3 */
  -moz-border-radius: 5px; /* FF1+ */
  -webkit-border-radius: 5px; /* Saf3-4, iOS 1+, Android 1.5+ */
  border-radius: 5px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
  -moz-box-shadow: 0px 0px 4px #333; /* FF3.5+ */
  -webkit-box-shadow: 0px 0px 4px #333; /* Saf3.0+, Chrome */
  box-shadow: 0px 0px 4px #333; /* Opera 10.5, IE9, Chrome 10+ */
  }
h1 a.edit-link {
  cursor: pointer;
  font-size: .5em;
  margin-left: 3em;
  }
  .content-output .node-status {
    border:2px #5af018 solid;
    font-size:1.2em;
    font-weight: bold;
    margin:0 0 20px;
    padding: .5em;
    text-align: center;
    width:15em;

    /*CSS3*/
    -moz-border-radius: 12px; /* FF1+ */
    -webkit-border-radius: 12px; /* Saf3-4, iOS 1+, Android 1.5+ */
    border-radius: 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
    -moz-box-shadow: 0px 0px 2px #333; /* FF3.5+ */
    -webkit-box-shadow: 0px 0px 2px #333; /* Saf3.0+, Chrome */
    box-shadow: 0px 0px 2px #333; /* Opera 10.5, IE9, Chrome 10+ */
  }

/* Theme settings form */

.containers-settings label {
  float:left;
  margin-right:1em;
  }
  .containers-settings div.description {
    clear:both;
    }

/* comments form */
.author-name label {
  float:left;
  margin-right:0.5em;
  }

#comment-form {
  margin:3em 0;
  }
  #comment-form fieldset legend {
    font-size:  1.1em;
    }

#edit-comment {
  font-family:verdana;
  width:95%;
  }

.inline-label {
  clear:left;
  }

.filefield-element div.ahah-progress-bar div.bar,
.containers-regions .form-item {
  clear:both;
  }
