/*************************************************************
 ** DEFAULTS
 *************************************************************/

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.3em;
  }

dl {
  margin-bottom: 1em;
  }
  dt {
    margin: 0.3em 0;
    }
  dd {
    margin-left: 0.2em;
    }
  .search-results dt {
    margin-left: 0.5em;
  }
  .search-results dd {
    margin-left: 1em;
  }
#content-bottom-wrapper,
#content-top-wrapper,
#content-wrapper,
#footer-wrapper,
#header-wrapper {
  clear:both;
  }

#inner-page-wrapper {
  position:relative;
  }

/* show or hide the skip to content link */
#header .skip-link {
  display:none;
  }

/************************************************************
 ** Header Area
 ***********************************************************/

.sublinks-nav #header {
  padding-top:90px;
  }

#header {
  display:block;
  /* This margin should be the same height as the main navigation if it is below the header.*/
  margin-bottom:20px;
  padding-top:50px;
  }
  #header img.logo-img {
    float:left;
    margin-right:10px;
    }
  #header .site-name {
    display:block;
    }
  #header div.site-slogan {
    display:inline-block;
    }

/***  Theme Search box Style  ***/

#search-theme-form {
  position:absolute;
  right:0;
  top:0;
  z-index:10;
  }

/************************************************************
 ** Content Top Area
 ***********************************************************/

#content-top-wrapper {
  overflow:hidden;
  margin-top:1em;
  }

#content-top,
#content-bottom,
#content-prefix,
#content-suffix {
  margin:0.5em 0;
  padding:1em;
  }

#breadcrumbs {
  clear:both;
  }

#breadcrumb {
  padding-top:0.5em;
  }

/************************************************************
 ** Main Content Area
 ***********************************************************/

#content-prefix,
#content-suffix {
  margin:1em 0;
  }

/************* Node Styles*****************/

div.content-output {
  position:relative;
  padding:0.5em 0.5em 5em 0.5em;
  }
  .drupal-tabs div.content-output {
    padding-top:40px;
  }
  .teaser .post-info,
  .node .post-info {
    margin:.5em 0 .5em .5em;
    }
  .post-links {
    clear:both;
    margin:1em 0;
    }
  .teaser {
    margin:0 0 2em 1em;
    }
  .teaser .content {
    margin-left: 0.5em;
    }
  .node {
    margin-left: 0.5em;
    }
  #page-title { /*teaser screens*/
    margin-top:0.25em;
    margin-left:0.2em;
    }
  .node #page-title { /*overrides the previous for node screens*/
    margin-left:0;
    margin-right: 19px; /*prevents local tasks hidden menu from superimposing node title*/
    }

.book-navigation .menu {
  padding-top:0.5em;
  padding-bottom:0.7em;
  }

/***********Drupal Messages *****************/
div.messages-wrapper {
  display: none;
}
div.messages-popup-active {
  display: block;
  left:35%;
  position:fixed;
  top:50%;
  }
  div.messages-popup-active div.messages {
    padding:0.5em;
    width:400px;
    z-index:100;
    }
  #better-messages-default div.messages {
    position:relative;
    right:0;
    top:0;
    width:auto;
    }
  div.messages-wrapper div.messages .inner-message {
    position:relative;
    padding:.5em 1em;
    }
  div.messages .close {
    display:none;
    }
  div.messages-wrapper div.messages .close {
    display:block;
    position:absolute;
    right:0;
    top:0;
    width:25px;
    }

/**********  Sidebars Styles **********/

#sidebar-first,
#sidebar-second {
  padding-bottom:1em;
  }
  #sidebar-first .block,
  #sidebar-second .block {
    margin-top:1em;
    padding-bottom:1em;
    }
  #sidebar-first .block h3,
  #sidebar-second .block h3 {
    margin:0.35em 0;
    }
  #sidebar-first .more-link,
  #sidebar-second .more-link {
    padding-bottom:0.5em;
    text-align:right;
    }

/**********  Hide/Show Regions Style **********/

.region-switch {
  padding:.2em;
  z-index:5;
  }

/**********  Back to Top Button Style **********/

.scroll-to-top {
  bottom:0;
  float:right; /* LTR */
  position:fixed;
  right:0; /* LTR */
  }

/************************************************************
 ** Content Bottom Area
 ***********************************************************/

#content-bottom-wrapper {
  overflow:hidden;
  }

/************************************************************
 ** Main Navigation Area
 ***********************************************************/

#main-navigation-wrapper {
  position:absolute;
  /*adjust this height to control the main navigations postion above the header*/
  top:5px;
  }
  .liquid-layout #main-navigation {
    margin: 0 4%;
    width:92%;
  }

/***** Primary Links *****************/

.primary-links ul.links li {
  margin:0;
  padding:0;
  }
  .primary-links ul.links li a {
    padding:.5em 1em;
    }

/************************************************************
 ** Footer Area
 ************************************************************/

#footer {
  margin-top:2em;
  padding-top: 1em;
  padding-bottom:2em;
  text-align:center;
  }

div.footer-message {
  padding-top:1.5em;
  text-align:center;
  }

.copyright{
  margin:2em 0;
  }

/************************************************************
 ** Tray Region
 ***********************************************************/

#tray-wrapper {
  bottom:0;
  display:none;
  height:25px;
  left:47px; /* LTR */
  padding-top:1px;
  position:fixed;
  width:100%;
  }
  #tray-wrapper .block {
    float:left; /* LTR */
    margin:0 1px 0 0; /* LTR */
    }
  #tray-wrapper h3.title {
    cursor:pointer;
    padding:.2em .5em;
    }
  #tray-wrapper .block .content {
    bottom:26px;
    display:none;
    position:fixed;
    padding:.5em;
    width:250px;
    z-index:1000;
    }

.tray-close {
  bottom:0;
  cursor:pointer;
  left:0; /* LTR */
  padding:0 3px;
  position:fixed;
  width:40px;
  }

/**********  Comments **********/

#comments {
  margin: 3.5em 0 0 1em;
  padding: 1em 0; /* LTR */
  }
  #comments div.picture img {
    float:left;
    margin: 0 0.5em 0 0;
    padding: 0.1em;
    }

.comment-message {
  display: inline-block;
  margin-bottom:1em;
  }
