/********** Typography *************
 * Use this file only for font properties, including line-height
 * 10px=1em, 11px=1.1em and so on
 *
 *******Color Codes*****
 * Greyscale
 * #3e3e3e - darkest
 * #646464
 * #a8a8a8
 * #e7e7e7
 * #efefef - lightest
 ***/

body {
  /*set the default body font size to 10px*/
  color: #3e3e3e; /*reduce contrast for white backgrounds*/
  font: normal 62.5%/150% verdana;
  }

/* typography defaults */

h1, h2, h3, h4, h5, h6 {
/* Add http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold
 * to theme settings-> external font - to load the Droid font family.
 */
  color: #3e3e3e;
  font-family: Droid Sans, Tahoma, Arial, sans-serif;
  font-weight: normal;
  line-height: 1em;
  }
  h3, h4, h5, h6 {
    line-height: 1.2em;
  }
  h1 {
    font-size: 3.5em;
    }
  h2 {
    font-size: 2.5em;
    }
  h3 {
    font-size:2.1em;
    }
  .page-admin h3 {
    line-height:2.5em;
    }
  h4 {
    font-size:1.9em;
    }
  h5 {
    font-size:1.7em;
    }
  h6 {
    font-size:1.4em;
    }

dl {
  font-size:1.4em;
  }
  dt {
    font-weight:bold;
    line-height:1.2em;
    }
  dl.multiselect { /*overrides above font-size for specific class*/
    font-size:1.1em;
    }
  dl p {
    font-size: 1em;
  }
sup,
sub {
  font-size:.8em
  }

strong {
  font-weight:bold;
  }

em {
  font-style:italic;
  }

.node h2 {
  margin: 1em 0;
}

.node .content blockquote {
  font-size: 1.4em;
  line-height:1.5em;
 }

.node .content ol,
.node .content ul {
  font-size: 1.4em;
  }

.node .content li {
  line-height: 1.5em;
}

.node .content li ol,
.node .content li ul {
  font-size: 1em;
  }

.node .content li ol li,
.node .content li ul li {
  list-style-type: square;
  }

abbr {
    border-bottom: 1px dashed #999;
    cursor: help;
}
/**********  Links **********/

a:link,
a:visited {
  color:#0044AF;
  text-decoration: none;
  }
  a:hover {
    color: #00235c;
    }
  a:active,
  a.active {
    color: #5895be;
    }
  .content-output  a:visited { /*help guests see which links they have visited*/
    color:#5895be;
    }
  .content-output  a:hover {
    color: #00235c;
    }
  .block  a:visited {
    color:#5895be;
    }
  .block  a:hover {
    color: #00235c;
    }

/************* header ***********/

#header .site-name {
  font-family: tahoma;
  font-size: 4em;
  line-height: 1em;
  }
  #header .site-name a:visited,
  #header .site-name a {
    color:#2F2F2F;
    }
  #header div.site-slogan {
    font:normal 2.5em/1.5em Georgia;
    }

/************* Main Navigation ***********/

.primary-links ul.links li a {
  color:#fff;
  font:bold 1.3em verdana;
  }
  .primary-links ul.links li a:hover {
    color: #fff;
    }
  .primary-links ul.links li a:active {
    color:#efefef;
    }

.secondary-links ul li a {
  color:#fff;
  font-size:1.2em;
  }
  .secondary-links ul li a:hover {
    color:#efefef;
    }

#mission {
  font-size:1.5em;
  font-style: italic;
  line-height: 1.5em;
  font-weight: bold;
  }

#breadcrumbs {
  font-size:1.2em;
  }

.block .content {
  font-size:1.3em;
  line-height:1.3em;
  }
  .block .content p {
    line-height:1.3em;
    }

/*****NODE*********/

.teaser .content {
  font-size:1.4em;
  line-height:1.5em;
  }

.preview .teaser .content {
  font-size: 1em;
}

.preview h2.title {
  display: none;
}

.post-links {
  font-size:1.2em;
  }

.post-info {
  color:#a8a8a8;
  font-size:1.2em;
  }

.book-navigation .page-links,
.content-output .item-list ul li {
  font-size: 1.4em;
  line-height:1.5em;
  }

div.terms {
  color: #646464;
  font-size: 1.2em;
  }

/**** Sidebars ****/

#sidebar-first div.views-row,
#sidebar-second div.views-row {
  line-height:1.5em;
  }
  #sidebar-first .block h3.title,
  #sidebar-second .block h3.title {
    color:#444;
    }
  #sidebar-first .more-link,
  #sidebar-second .more-link {
    font-weight:bold;
    font-size:1.1em;
    }

/********** Polls ***************/

div.poll {
  font-size:1.2em;
  }
  .poll .vote-form {
    text-align:left;
    }
  .poll .vote-form .choices {
    margin:0;
    }

/**********  Comments **********/

#comment-form {
  font-size:1.2em;
  }

#comments h3.title {
  font-size:1.9em;
  }

.comment .submitted,
.comment ul.links,
.comment .content {
  color:#3e3e3e;
  font-size:1.2em;
  line-height:1.4em;
  }
  .comment .submitted {
    color:#a8a8a8;
    }
  .comment-node-author .content {
    color: #000;
    }

.comment-message {
  font-size:1.8em;
  }

/*****Tables**********/

th a:link,
th a:visited {
  color: #6f9dbd;
  }
  td.region,
  td.module,
  td.container,
  td.category {
    color: #455067;
    font-weight: bold;
    }
  td, th, td .description {
    font-size: 1.3em;
    }
    td h2 {
      font-size: 1.9em;
      }
    .content-output td .item-list ul li {
      font-size: 1em;
      line-height: 1.1em;
      }
  td .form-select .input-inline {
    font-size: 1em;
    }
  thead th {
    color:#FFFFFF;
    font-weight: bold;
    font-size: 1.3em;
    }

/**********  Pager **********/

ul.pager li a,
.item-list ul.pager li a {
    color:#0044AF;
    }
  ul.pager li.pager-current {
    font-size:1.5em;
    font-weight:normal;
    }

#tray-wrapper .block .content {
  font-size:1.1em;
  }
  #tray-wrapper .tray-block-active {
    background:#333;
    color:#fff;
    }
  #tray-wrapper {
    font-size:1.1em;
    }

.scroll-to-top {
  font-size:1.5em;
  }
  .node-add-section .scroll-to-top,
  .node-edit-section .scroll-to-top {
    display: none !important;
  }

#footer .footer-message {
  font-size:1.3em;
  color:#646464;
  }

.copyright {
  font-size:1.2em;
  }

/*** help text ***/

.help-items ul {
  font-size: 1.2em;
  }

/****admin****/

.tabs.secondary,
#main .preview .teaser p,
#main .content-output .node p,
#main p ul,
.page-admin .content-output label, /*labels for forms on admin screens*/
.page-admin .content-output legend,
.page-admin .help,
.page-admin #profile-admin-overview ul {
  font-size:1.4em;
  line-height:1.5em;
  }

/* Local tasks hidden menu */
div.tabs ul.openg-tasks li a {
  color:#fff;
  font-weight:bold;
  font-size:1.3em;
  }

/* Vertical Tabs*/

div.vertical-tabs ul.vertical-tabs-list li {
  font-size: 1.2em;
  }

/* Logged out user tabs */

.not-logged-in ul.tabs {
  overflow: hidden;
  padding-bottom:0;
  }
  .not-logged-in ul.tabs  li {
    font-size: 1.3em;
    margin-right: 1px;
    }
  .not-logged-in ul.tabs  li.active {
    font-weight: bold;
    }

/*************Overrides***********/

.block .content h3 {
  font-size:1.6em;
  }

.views-tabset .views-tabs ul li {
  font-size:1.2em;
  }

fieldset.collapsible legend,
#node-form label {
  font-size:1.3em;
  }

.theme-info {
  font-size: 0.9em
  }

div.messages .inner-message {
  font-size: 1.4em;
  line-height: 1.2em;
  }

#user-admin-settings fieldset .description {
  font-size: 1.2em;
  }

#contact-mail-page  {
  font-size:1.4em;
  }

.content-output .node blockquote p,
blockquote p {
  font-size: 1.1em !important;
  }

#node-admin-content .container-inline {
  margin-top:15px;
  }

#node-admin-filter dt,
#node-admin-filter .b {
  font-size: 1.2em;
  }

#node-admin-content dl.multiselect .form-item {
  height:2em;
  }
