/*ID*/
.lt-720 body {  min-width: 240px !important; }

.lt-720   #header .site-name {
    font-size: 2em;
  }

.lt-720   .container_12,
.lt-720   .container_16,
.lt-720   .container_24 {
    width:auto !important;
  }

  /*Use this style to override default styles from base theme*/
  .lt-720 .grid_1, .lt-720 .grid_2, .lt-720 .grid_3, .lt-720 .grid_4, .lt-720 .grid_5, .lt-720 .grid_6, .lt-720 .grid_7, .lt-720 .grid_8, .lt-720 .grid_9, .lt-720 .grid_10,
  .lt-720 .grid_11, .lt-720 .grid_12, .lt-720 .grid_13, .lt-720 .grid_14, .lt-720 .grid_15, .lt-720 .grid_16, .lt-720 .grid_17, .lt-720 .grid_18, .lt-720 .grid_19,
  .lt-720 .grid_20, .lt-720 .grid_21, .lt-720 .grid_22, .lt-720 .grid_23, .lt-720 .grid_24 {
    position: relative !important;
    margin-left: 10px;
    margin-right: 10px;
    width: auto !important;
    float: none !important;
  }

  .lt-720 .prefix_1, .lt-720 .prefix_2, .lt-720 .prefix_3, .lt-720 .prefix_4, .lt-720 .prefix_5, .lt-720 .prefix_6, .lt-720 .prefix_7, .lt-720 .prefix_8, .lt-720 .prefix_9, .lt-720 .prefix_10,
  .lt-720 .prefix_11, .lt-720 .prefix_12, .lt-720 .prefix_13, .lt-720 .prefix_14, .lt-720 .prefix_15, .lt-720 .prefix_16, .lt-720 .prefix_17, .lt-720 .prefix_18, .lt-720 .prefix_19,
  .lt-720 .prefix_20, .lt-720 .prefix_21, .lt-720 .prefix_22, .lt-720 .prefix_23, .lt-720 .prefix_24,
  .lt-720 .suffix_1, .lt-720 .suffix_2, .lt-720 .suffix_3, .lt-720 .suffix_4, .lt-720 .suffix_5, .lt-720 .suffix_6, .lt-720 .suffix_7, .lt-720 .suffix_8, .lt-720 .suffix_9, .lt-720 .suffix_10,
  .lt-720 .suffix_11, .lt-720 .suffix_12, .lt-720 .suffix_13, .lt-720 .suffix_14, .lt-720 .suffix_15, .lt-720 .suffix_16, .lt-720 .suffix_17, .lt-720 .suffix_18, .lt-720 .suffix_19,
  .lt-720 .suffix_20, .lt-720 .suffix_21, .lt-720 .suffix_22, .lt-720 .suffix_23, .lt-720 .suffix_24 {
    padding: 0 !important;
  }

  .lt-720 .push_1, .lt-720 .push_2, .lt-720 .push_3, .lt-720 .push_4, .lt-720 .push_5, .lt-720 .push_6, .lt-720 .push_7, .lt-720 .push_8, .lt-720 .push_9, .lt-720 .push_10,
  .lt-720 .push_11, .lt-720 .push_12, .lt-720 .push_13, .lt-720 .push_14, .lt-720 .push_15, .lt-720 .push_16, .lt-720 .push_17, .lt-720 .push_18, .lt-720 .push_19,
  .lt-720 .push_20, .lt-720 .push_21, .lt-720 .push_22, .lt-720 .push_23, .lt-720 .push_24,
  .lt-720 .pull_1, .lt-720 .pull_2, .lt-720 .pull_3, .lt-720 .pull_4, .lt-720 .pull_5, .lt-720 .pull_6, .lt-720 .pull_7, .lt-720 .pull_8, .lt-720 .pull_9, .lt-720 .pull_10,
  .lt-720 .pull_11, .lt-720 .pull_12, .lt-720 .pull_13, .lt-720 .pull_14, .lt-720 .pull_15, .lt-720 .pull_16, .lt-720 .pull_17, .lt-720 .pull_18, .lt-720 .pull_19,
  .lt-720 .pull_20, .lt-720 .pull_21, .lt-720 .pull_22, .lt-720 .pull_23, .lt-720 .pull_24 {
    left: 0 !important;
  }

