/*** ESSENTIAL STYLES ***/
.superfish .primary-links ul, .superfish .primary-links ul * {
  margin:     0;
  padding:    0;
  list-style:   none;
  }
.superfish .primary-links ul {
  line-height:  1em;
  }
.superfish .primary-links ul ul {
  position:   absolute;
  top:      -999em;
  width:      20em; /* left offset of submenus need to match (see below) */
  }
  .superfish .primary-links ul > ul {
    margin-top:3px;
    }
.superfish .primary-links ul ul li {
  width:      100%;
  }
.superfish .primary-links ul li:hover {
  visibility:   inherit; /* fixes IE7 'sticky bug' */
  }
.superfish .primary-links ul li {
  float:      left;
  position:   relative;
  }
.superfish .primary-links ul a {
  display:    block;
  position:   relative;
  }
.superfish .primary-links ul li:hover ul,
.superfish .primary-links ul li.sfHover ul {
  left:     0;
  top:      3.2em; /* match top ul list item height */
  z-index:    99;
  }
.superfish .primary-links ul li:hover li ul,
.superfish .primary-links ul li.sfHover li ul {
  top:-999em;
  }
.superfish .primary-links ul li li:hover ul,
.superfish .primary-links ul li li.sfHover ul {
  left:10em; /* match ul width */
  top:0;
  }
.superfish .primary-links ul li li:hover li ul,
.superfish .primary-links ul li li.sfHover li ul {
  top:-999em;
  }
.superfish .primary-links ul li li li:hover ul,
.superfish .primary-links ul li li li.sfHover ul {
  left:     10em; /* match ul width */
  top:      0;
}

/*** DEFAULT SKIN ***/

.superfish .primary-links ul {
  float:      left;
  margin-bottom:  1px;
  position: relative;
  z-index: 4;
}
.superfish .primary-links ul a {
  padding:    .75em 1em;
  text-decoration:none;
  font: bold 1.3em/1em verdana,arial;
}
.superfish .primary-links ul a.sf-with-ul {
  padding-right:auto;
}
.superfish .primary-links ul ul li.first a {
  border-top:0;
}
.superfish .primary-links li.expanded > a {
  text-indent: 0.4em;
  }
.superfish .primary-links ul ul a {
  border-top:1px #fff solid;
  line-height: 1.2em;
  padding: 0.75em 5%;
  width: 90% !important;

  /*CSS3*/
  border-radius:0;
  -moz-border-radius: 0;
  -webkit-border-radius:0;
  }
.superfish .primary-links ul a, .superfish .primary-links ul a:visited  { /* visited pseudo selector so IE6 applies text colour*/
  color:      #fff;
  }

/*** shadows for all but IE6 ***/

.superfish .sf-shadow ul {
  -moz-box-shadow: 7px 1px 5px #333; /* FF3.5+ */
  -webkit-box-shadow: 7px 1px 5px #333; /* Saf3.0+, Chrome */
  box-shadow: 7px 1px 5px #333; /* Opera 10.5, IE9, Chrome 10+ */
}



/*** arrows **/
.superfish .primary-links ul a.sf-with-ul {
  padding-right:  2.25em;
  min-width:    1px; /* trigger IE7 hasLayout so spans position accurately */
  }
.sf-sub-indicator {
  position:   absolute;
  display:    block;
  right:      .75em;
  top:      1.05em; /* IE6 only */
  width:      10px;
  height:     10px;
  overflow:   hidden;
  }

/** hide ul for current active li **/

.hide-dropdown .superfish .primary-links ul li.active-trail ul,
.hide-dropdown .superfish .primary-links ul li.active-trail:hover ul {
  display:none !important;
}

/** sf-style colors **/

.superfish .primary-links ul a, .superfish .primary-links ul a:visited  { /* visited pseudo selector so IE6 applies text colour*/
  color:      #fff;
}
.superfish .primary-links ul li:hover, .superfish .primary-links ul li.sfHover,
.superfish .primary-links ul a:focus, .superfish .primary-links ul a:hover, .superfish .primary-links ul a:active {
  outline:    0;
  color:#fff;
}


