/**Tinymce style **/
body {
  /*set the default body size to 10px*/
  color: #3e3e3e; /*reduce contrast for white backgrounds*/
  font-size:62.5%;
  line-height:150%;
  font-family:"Trebuchet MS",georgia,verdana,arial;
  }
p {
  font-size:1.4em;
  line-height:1.5em;
  }
p img{
  border:1px solid #666;
  margin:5px;
  padding:3px;
}

ol, ul {
  font-size:1.4em;
}
